/* Footer btn */

:root {
  --grey: hsl(0 0% 0.69%);
  --pale-white: #ececec;
}

/* 
** Menu Button 
*/

.menu-btn > div:first-child,
.menu-btn > div:last-child {
  background-color: white;
  transform: translate(0px, 0px);
  transition:
    transform 1s cubic-bezier(0.15, 0.85, 0.45, 1),
    background-color 1s cubic-bezier(0.15, 0.85, 0.45, 1);
}

.menu-btn.open > div:first-child {
  background-color: black;
  transform: translate(0px, 5.5px) rotate(30deg);
}
.menu-btn.open > div:last-child {
  background-color: black;
  transform: translate(0px, -5.5px) rotate(-30deg);
}

.menu-btn {
  transform: rotate(0deg);
  transition: transform 1s cubic-bezier(0.15, 0.85, 0.45, 1);
}
.menu-btn.open {
  transform: rotate(-180deg);
}

/* 
** Paneles (backgound) 
*/

.menu-bg div {
  transform: scaleX(0);
  transform-origin: right;
}

.menu-bg > div:first-child {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1.5s cubic-bezier(0.15, 0.85, 0.45, 1) 0.4s;
}

.menu-bg > div:nth-child(2) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1.5s cubic-bezier(0.15, 0.85, 0.45, 1) 0.45s;
}

.menu-bg > div:last-child {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1.5s cubic-bezier(0.15, 0.85, 0.45, 1) 0.5s;
}

.topbar:has(.open) + .menu .menu-bg > div:first-child {
  transform: scaleX(1);
  transition: transform 0.7s cubic-bezier(0.15, 0.85, 0.45, 1) 0s;
}

.topbar:has(.open) + .menu .menu-bg > div:nth-child(2) {
  transform: scaleX(1);
  transition: transform 0.7s cubic-bezier(0.15, 0.85, 0.45, 1) 0.05s;
}

.topbar:has(.open) + .menu .menu-bg > div:last-child {
  transform: scaleX(1);
  transition: transform 0.7s cubic-bezier(0.15, 0.85, 0.45, 1) 0.1s;
}

/* 
** Logo 
*/

.logo {
  filter: invert(1);
  transition: filter 0.15s ease-out 0.4s;
}

.topbar:has(.open) .logo {
  filter: invert(0);
  transition: filter 0.3s ease-in 0.5s;
}

/* 
** Main nav 
*/

.nav {
  color: var(--pale-white);
  transition: color 0.55s ease-in-out 0.6s;
}

.topbar .nav .active {
  color: white;
  transition: color 0.35s ease-in-out 0.6s;
}

.topbar:has(.open) .nav {
  color: hsl(0 0% 0.69% / 0%);
  transition: color 0.1s ease-in-out;
}

/* hide nav */
.topbar:has(.open) .nav .link {
  /* color: black; */
  color: hsl(0 0% 0.69% / 0%);
  pointer-events: none;
  transition: color 0.1s ease-in-out;
}

/* Menu Nav (default) */
.right .featured,
.menu-nav {
  /* opacity: 0; */
  transition: opacity 1s ease;
}

.menu-nav .link span {
  transform: translate(0, 100%);
}

/* Featured Image */
.featured {
  /* transform: translate(150%, 0); */
  opacity: 0;
}

/* Add line hover effect */
/* .topbar .nav .link {
  position: relative;
  width: max-content;
}

.topbar .nav .link:before {
  content: '';
  position: absolute;
  top: 1.8em;
  width: 0%;
  height: 1px;
  background-color: white;
  transition: width 0.5s cubic-bezier(0.15, 0.85, 0.45, 1);
} */

/* .topbar:has(.open) .nav .link:before {
  background-color: rgb(171, 171, 171);
}

.topbar .nav .link.active::before {
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.topbar:has(.open) .nav .link.active::before {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.topbar .nav .link:hover::before {
  width: 100%;
  transition: width 0.5s cubic-bezier(0.15, 0.85, 0.45, 1);
}

.topbar .nav .link:hover::before {
  width: 100%;
  transition: width 0.5s cubic-bezier(0.15, 0.85, 0.45, 1);
} */
